.fade-in {
    opacity: 0;
    animation: fadeIn ease-in-out 1s forwards;
}

.day-height-animation {
    max-height: 0%;
    animation: max-height 1.5s linear forwards;
}

$delays: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;

@each $delay in $delays {
    .delay-#{$delay} {
        animation-delay: #{$delay / 10}s;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes max-height {
    0% {
        max-height: 0%;
    }

    100% {
        max-height: 100%;
    }
}